@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #e3e8e7;
  overflow-x: hidden;
}
::selection {
  background-color: #0b372dbb;
}
.logo {
  width: 100px;
}

header {
  position: absolute;
  z-index: 9999;
  width: 100%;
  padding: 0.9rem 0;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.content {
  position: relative;
  display: flex;
  align-items: center;
}
.content h4 {
  position: absolute;
  font-size: 3rem;
}
.content h4:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.5px whitesmoke;
}
.content h4:nth-child(2) {
  color: whitesmoke;
  animation: animate 4s ease-in-out infinite;
  z-index: 45;
}
@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 49%,
      15% 44%,
      32% 47%,
      43% 57%,
      60% 61%,
      79% 50%,
      100% 48%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0 64%,
      28% 62%,
      44% 56%,
      57% 46%,
      69% 45%,
      84% 46%,
      100% 55%,
      100% 100%,
      0% 100%
    );
  }
}

header nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header ul a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.83rem;
}
.search a {
  font-size: 1.05rem;
  padding: 0 3rem;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

/* Article */

article {
  width: 100%;
  height: 140vh;
  background-color: #e3e8e7;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
  height: 80%;
}

.article-body {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}
.article-section-1,
.article-section-2,
.article-section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
  height: 100%;
  gap: 30px;
  opacity: 0.8;
}
h6 {
  opacity: 0.8;
}
h6 {
  font-weight: normal;
  height: 10%;
  text-align: center;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.861);
  text-transform: uppercase;
}
.left-element,
.right-element,
.main-element {
  padding: 2rem 1.5rem;
  color: rgba(0, 0, 0, 0.861);
  border-radius: 0.3rem;
}
.left-element,
.right-element {
  width: 80%;
  height: 65%;
  border: 1px solid #688ba9;
}
.main-element {
  width: 80%;
  height: 35.5%;
  border: 1px solid #688ba9;
}

.main-element:nth-child(2) {
  width: 80%;
  height: 25%;
  font-size: 1rem;
  color: whitesmoke;
  border: 1px solid #688ba9;
  background: url(../images/background-h-transformed.png);
}
.article-body i {
  font-size: 2.3rem;
  width: 100%;
  padding: 0 0.7rem;
}
.article-body h3 {
  font-size: 1rem;
  width: 100%;
  padding: 2rem 0.7rem 0 0.7rem;
}
.article-body .article-text {
  font-size: 0.8rem;
  width: 100%;
  padding: 0.3rem 0.7rem 0 0.7rem;
}
.article-body .button-page {
  font-size: 1rem;
  width: 40%;
  height: 25%;
  border: none;
  border-radius: 0.2rem;
  margin: 1rem 0.7rem;
}
.article-body .button-page a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Animacje chmur i gwiazd */

.parallax {
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}
.bg-img {
  position: absolute;
  width: 170%;
  top: calc(50% + 100px);
  left: calc(50% + 10px);
  z-index: 1;
}

.warstwa-1 {
  position: absolute;
  z-index: 4;
  width: 2290px;
  top: calc(50% + 94px);
  left: calc(50% + -71px);
}
.chmura-3 {
  position: absolute;
  z-index: 3;
  width: 2340px;
  top: calc(50% + 128px);
  left: calc(50% - 14px);
}
.chmura-2 {
  position: absolute;
  z-index: 7;
  width: 2240px;
  top: calc(50% + 122px);
  left: calc(50% - 56px);
}
.chmura-1 {
  position: absolute;
  z-index: 4;
  width: 1643px;
  top: calc(50% + 100px);
  left: calc(50% + 130px);
}
.chmura-5 {
  position: absolute;
  z-index: 6;
  width: 3050px;
  top: calc(50% + 248px);
  left: calc(50% - 453px);
}
.chmura-4 {
  position: absolute;
  z-index: 4;
  width: 408px;
  top: calc(50% + 67px);
  left: calc(50% - 772px);
}
.kometa {
  position: absolute;
  z-index: 1;
  width: 238px;
  transform: rotateX(210deg);
  top: calc(50% - 407px);
  left: calc(50% - 702px);
}
.kolo {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  z-index: 2;
  display: block;
  top: calc(50% - 100px);
  left: calc(50% - 1392px);
  animation: loading 3.4s linear infinite;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.zdjecie {
  position: absolute;
  z-index: 2;
  transform: rotate(80deg);
  top: 600px;
  animation: loading 3.4s linear infinite;
  left: 600px;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.star {
  position: absolute;
  z-index: 1;
  width: 120px;
  top: calc(50% - 409px);
  left: calc(50% + 352px);
  animation: star 2s ease-in-out infinite;
}
@keyframes star {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.text {
  position: absolute;
  z-index: 5;
  top: calc(50% - 80px);
  left: 50%;
  pointer-events: auto;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.text h2 {
  font-weight: 100;
  font-size: 5rem;
}
.text h1 {
  font-weight: 800;
  font-size: 7rem;
  line-height: 0.88;
}

.vignette {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 0.6)
  );
  pointer-events: none;
}

/* FOOTER */
footer {
  width: 100%;
  height: 85vh;
  background-color: #e3e8e7;
}
.up-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15%;
  opacity: 0.8;
}
.up-section .line-first,
.up-section .line-second {
  width: 350px;
  height: 2px;
  border-radius: 2rem;
  background-color: #688ba9;
}
.up-section h5 {
  font-size: 3rem;
  font-weight: normal;
  white-space: nowrap;
  opacity: 0.8;
}

.user-section {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25%;
}
.user-section ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.user-section ul li {
  list-style: square;
  padding: 0.5rem;
  width: 130px;
  height: 20px;
}
.photo-1,
.photo-2 {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo-1 p,
.photo-2 p {
  margin: 0.5rem 0;
  font-weight: 500;
  text-transform: uppercase;
}
.socials {
  display: flex;
  justify-content: space-around;
  width: 240px;
  font-size: 1.5rem;
}
.what-done-section {
  display: flex;
  width: 100%;
}
.what-done-section li::marker {
  color: #688ba9;
}
.line-2 {
  width: 100%;
  display: flex;
  height: 20%;
  justify-content: center;
}
.line-height {
  margin: 2rem 0;
  width: 2px;
  height: 80px;
  border-radius: 2rem;
  background-color: #688ba9;
}
.daily-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15%;
}
.daily-section h5 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.daily-section {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.daily-section form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.daily-section form input {
  border: 1px solid #688ba9;
  padding: 1rem 0.5rem;
  font-size: 1rem;
}
.daily-section form .email-input {
  background: url(../images/background-h-transformed.png) 40%;
  color: whitesmoke;
}
.autor-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: calc(100% - 85%);
}
.circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem 0;
}
.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blok {
  width: 25px;
  height: 25px;
  background-color: black;
}

/* Zadania css */
.input-hidden {
  display: none;
}
.main-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(104, 139, 169, 1) 1%,
    rgba(3, 49, 89, 1) 100%
  );
}
.header-section {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/bg_thick.png);
  background-size: 100% 100%;
  clip-path: circle(35px at calc(100% - 97.4%) 4.5%);
  transition: all 0.3s ease-in-out;
}
.header-section ul {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.header-section ul li {
  margin: 15px 0;
}
.header-section a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 500;
  padding: 5px 50px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.header-section ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #fff;
  border-radius: 50px;
  left: 0;
  z-index: -1;
  transform: scaleY(0);
  transition: transform 0.3s ease;
}
.header-section ul li a:hover::after {
  transform: scaleY(1);
}
.header-section a:hover {
  color: black;
}
.zadania {
  position: absolute;
  left: 15px;
  top: 39px;
  z-index: 46;
  text-align: center;
  cursor: pointer;
}
.zadania h4:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.5px whitesmoke;
}
.zadania h4:nth-child(2) {
  color: whitesmoke;
  animation: animate 4s ease-in-out infinite;
  z-index: 45;
}
#active:checked ~ .header-section {
  clip-path: circle(75%);
}
/* Container Section */
.container-section {
  display: flex;
  flex-direction: column;
  width: calc(100% - 25%);
  height: 100%;
  background-color: rgba(245, 245, 245, 0.162);
  padding: 5rem;
}
/* .container-section h3 {
} */
.container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-header form input,
.container-header form select {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.container-header .option {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}
.users {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5%;
  margin-top: 2rem;
  overflow: auto;
}
.users-blok {
  height: 40%;
  width: 23%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(245, 245, 245, 0.85);
}
.users-blok img {
  width: 45%;
}
.user-zadania {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.users-blok h4 {
  text-align: center;
}
.users-blok a {
  text-decoration: none;
  color: black;
}
.select-btn {
  border: none;
  color: black;
  background-color: whitesmoke;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 35%;
}
.kox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.users-blok h3 {
  font-weight: 500;
  text-align: center;
}
.stanowisko-p {
  font-size: 0.75rem;
}
.user-zadania i {
  font-size: 1.5rem;
}
.users-blok button {
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
  border: 0.5px solid black;
  transition: all 0.3s ease-in-out;
}
.users-blok button:hover {
  scale: 1.05;
  background-color: #688ba9;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 20px #132b405b;
  transition: all 0.3s ease-in-out;
}
/* Search Section */
.search-section {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.search-section .wyszukiwarka {
  margin: 2rem 1rem;
  background-color: whitesmoke;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
}
.search-section .wyszukiwarka input {
  border: none;
  background-color: whitesmoke;
}
.search-section h2 {
  text-align: center;
}
.search-area {
  text-align: center;
  height: 80%;
}
.add-task {
  height: 20%;
  text-align: center;
}
.add-task form {
  display: flex;
  width: 100%;
  justify-content: center;
}
.add-task input {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;

  background-color: whitesmoke;
  padding: 0.5rem 0.5rem;

  border-radius: 1rem;
}

.salto {
  margin: 2rem 1rem;
  background-color: whitesmoke;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
}
.salto input {
  border: none;
  background-color: whitesmoke;
}
.search-section .user-name {
  margin: 0.5rem 1rem;
}
.search-section .span {
  text-align: center;
}
.search-section h5 {
  margin: 2rem 1rem;
}
.search-user-section {
  margin-top: 0.5rem;
  text-align: center;
}

.search-user-tasks {
  border-left: 3px solid #688ba9;
  margin: 2rem 1rem;
  padding: 0 0.2rem;
}
.search-user {
  border-left: 3px solid #688ba9;
  margin: 2rem 1rem;
  padding: 0 0.2rem;
}
.search-user h3 {
  font-weight: 500;
}
.search-user p {
  font-weight: 600;
}
.search-users {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.ogien {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.user-profile {
  border-radius: 2rem;
  width: 95%;
  height: 10%;
  margin: 0.5rem 1rem;
  background-color: whitesmoke;
  color: black;
}
.user-elements {
  display: flex;
  width: 100%;
  height: 100%;
}
.icon-button {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  text-align: center;
  border: none;
  background: none;
  font-size: 0.8rem;
}
.user-task {
  display: flex;
  font-size: 0.65rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  width: 100%;
  height: 100%;
}
.user-task h3 span {
  font-weight: normal;
}
.user-task p {
  padding: 0.1rem 0.5rem;
  border: 1px solid #688ba9;
  border-radius: 1rem;
  background: #688ba95b;
}
.user-task h3 {
  font-weight: 500;
}
.fa-burger:before,
.fa-hamburger:before {
  content: "\f805";
  font-weight: bold;
}
.chmura1 {
  position: absolute;
  z-index: 3;
  width: 260px;
  top: calc(50% - 215px);
  left: calc(50% - 297px);
  pointer-events: none;
}
.chmura2 {
  position: absolute;
  z-index: 1;
  width: 400px;
  top: calc(50% + 16px);
  left: calc(50% - 29px);
  pointer-events: none;
}
.chmura3 {
  position: absolute;
  z-index: 3;
  width: 320px;
  top: calc(50% - 16px);
  left: calc(50% - 354px);
  pointer-events: none;
}
.chmura4 {
  position: absolute;
  z-index: 3;
  width: 260px;
  top: calc(50% - 280px);
  left: calc(50% + 41px);
  pointer-events: none;
}
/* tasks section */
.task-main-section {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20%);
  height: 100%;
  background-color: rgba(245, 245, 245, 0.162);
  padding: 5rem 3rem;
}
.add-task-section {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  color: whitesmoke;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.header-task-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.header-task-section p {
  margin-top: 2rem;
  padding: 1rem;
  background-color: red;
  border-radius: 2rem;
  width: 20%;
}
.header-task-section p:nth-child(1) {
  background-color: #ff6f6d;
  border: 1px solid #ff253f;
}
.header-task-section p:nth-child(3) {
  background-color: #ffd39e;
  border: 1px solid #ffb751;
}
.header-task-section p:nth-child(2) {
  background-color: #fff08b;
  border: 1px solid #fbff52;
}
.header-task-section p:nth-child(4) {
  background-color: #cbffd4;
  border: 1px solid #b1fcaf;
}
.task-main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2.5%;
  margin-top: 2rem;
  overflow: auto;
}
.users-blok-1,
.users-blok-2,
.users-blok-3,
.users-blok-4 {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(245, 245, 245, 0.85);
  overflow: auto;
}
.users-blok-1 input,
.users-blok-1 button,
.users-blok-2 input,
.users-blok-2 button,
.users-blok-3 input,
.users-blok-3 button,
.users-blok-4 input,
.users-blok-4 button {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

.ogien {
  font-size: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 35%;
  width: 95%;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  text-align: center;
  margin: 0.5rem;
}
.ogien h1 {
  height: 30%;
  font-size: 1.2rem;
  padding: 1rem 0;
}
.delete-button h1 {
  font-size: 0.7rem;
  padding: 0.7rem;
}
.delete-button input {
  width: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}
.delete-button button {
  width: 45%;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.zadania-essa {
  display: flex;
}
.container-transfer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  height: 20%;
}
.container-transfer h5 {
  font-size: 1.4rem;
  text-align: center;
}
.container-transfer form {
  display: flex;
}
.container-transfer input {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.O-ol a,
.D-ol a {
  text-decoration: none;
  color: black;
}
